<mat-nav-list>
  <div class="logo py-4">
    <img src="./assets/logo.svg" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
    <mat-icon>home</mat-icon> Home
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
    <mat-icon>dashboard</mat-icon> Dashboard
  </a>
  <a mat-list-item> <mat-icon>note</mat-icon> Classes </a>
  <a mat-list-item> <mat-icon> present_to_all</mat-icon> Resources </a>
  <a mat-list-item> <mat-icon>today</mat-icon> Learning Plan </a>
  <a mat-list-item> <mat-icon> chat</mat-icon> Chat </a>
  <a mat-list-item> <mat-icon>settings</mat-icon> Setting </a>
  <br>
  <br>
  <p style="color:white">Update to <b style="color:yellowgreen">PRO</b> for more resources</p>
  <button mat-flat-button color="primary">Upgrade</button>
</mat-nav-list>
